@font-face {
    font-family: "Norse Bold";
    src: url(./fonts/Norse-Bold.otf);
}
:root {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
    text-align: center;
    background-color: rgba(194, 194, 194, 0.1);
}

.left-col {
    display: flex;
    flex-direction: column;
    /* flex: 1 0 auto; */
    justify-content: space-between;
    background-image: url('./media/halie-west-25xggax4bSA-unsplash.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    width: 400px;
    height: 100%;
    font-size: 3rem;
}

.left-col span {
    display: inline-flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    height: calc(100% / 6);
    position: relative;
    top: 21%;
    background-color: rgba(0, 0, 0, 0.4);
}

#logo {
    height: 75%;
}

.logo {
    font-family: "Norse Bold";
    font-size: 4.5rem;
}

#shoutout,
a:link {
    color: white;
    padding-bottom: 1em;
    font-size: 0.65rem;
}

.right-col {
    display: flex;
    flex-direction: column;
    flex: 5 0 auto;
    padding-top: 1.6em;
}

.right-col div {
    flex: 1;
    text-align: left;
    padding-left: 2.5em;
}

.row1 {
    width: 540px;
    word-wrap: normal;
    position: relative;
    bottom: -6em;
    font-size: 1.1rem;
    font-weight: 565;
}

.row2 {
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.row3 {
    padding-top: 2rem;
    font-size: .9em;
    line-height: 3em;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 180px;
    height: 38px;
    border-radius: 6px;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgba(72, 97, 50, 0.859);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
    border: none;
}

#login {
    color:rgba(72, 97, 50, 0.859);
    text-decoration: none;
    font-size: .9em;
    font-weight: 700;
}